---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Oswald&family=Roboto+Condensed:wght@300&family=Unica+One&display=swap');
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

body {
  font-family: 'roboto condensed', sans-serif;
}

.page-header {
  background-image: url(../../images/makerspaceBackground.png);
  background-color: #5c62cb;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 40%;
}

h1 {
  font-family: 'unica one';
  font-weight: 400;
}

.main-content h3 {
  font-family: 'montserrat alternates';
  font-weight: 400;
  color: rgba(21,153,87,0.7);
  font-size: 4rem;
}

.main-content h4 {    
  font-weight: bold;
  font-size: 1.5rem;
}

a.anchorLink:hover {
  text-decoration: none;
  color: rgba(21,153,87,1);
}

.project-name {
  font-size: 7vw;
  color: rgba(255,255,255,0.9);
  text-shadow: 0.5rem 0.5rem rgba(204,0,0,1);
  transform: rotate(-2deg);
}

.project-tagline {
  font-size: 2vw;
  font-family: 'unica one';
  line-height: 1;
  max-width: 1000px;
  margin: 0 auto;
}

ion-icon {
  position: absolute;
  margin-left: -4rem;
  display: none;
}
