---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Oswald&family=Roboto+Condensed:wght@300&family=Unica+One&display=swap');
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

body {
  font-family: 'roboto condensed', sans-serif;
  width: 100%;
  position: relative;
  max-width: 100%;
  background: #fff;
  background: linear-gradient(180deg, rgba(92,98,203,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 100%);
}

.page-header {  
  background-color: transparent;
  background-image: none;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  padding: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.background img {
  width: 100%;
}

.project-name {
  font-size: 9vw;
  color: rgba(255,255,255,0.9);
  transform: rotate(-2deg);
  position: absolute; 
  width: 95%;
  top: 0;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.3);
}

.project-tagline {
  font-size: 2vw;
  font-family: 'unica one';
  line-height: 1;
  max-width: 1000px;
  margin: 0 auto;
  display: none;
}

.main-content {
  background: rgba(255,255,255,0.9);
  z-index: 1000;
  position: relative;
  margin-top: 35%;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #5C62CB;
}

h1 {
  font-family: 'unica one';
  font-weight: 400;
}

.main-content h3 {
  font-family: 'unica one';
  font-weight: 400;
  font-size: 4vh;
  background: #5c62cb;
  color: #fff;
  padding-left: 0.5em;
}

.main-content h4 {    
  font-weight: bold;
  font-size: 2vw;
}

a {
  color: #c00;
}

a.anchorLink:hover {
  text-decoration: none;
}
