---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Oswald&family=Roboto+Condensed:wght@300&family=Unica+One&display=swap');

body {
  font-family: 'roboto condensed', sans-serif;
  width: 100%;
  position: relative;
  max-width: 100%;
  background: #fff;
  color: #333;
  background: linear-gradient(180deg, rgba(92,98,203,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 100%);
}

.page-header {  
  background-color: transparent;
  background-image: none;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  padding: 0;
}

.background, .foreground, .midground {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
}

.background img, .foreground img, .midground img {
  width: 100%;
  max-width: 100%;
}

.project-name {
  font-size: 9vw;
  color: rgba(255,255,255,0.9);
  transform: rotate(-2deg);
  position: absolute; 
  width: 95%;
  top: 0;
  text-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.3);
  z-index: -1;
}

.project-tagline {
  font-size: 2vw;
  font-family: 'unica one';
  line-height: 1;
  max-width: 1000px;
  margin: 0 auto;
  display: none;
}

.main-content {
  background: rgba(255,255,255,0.9);
  z-index: 1000;
  position: relative;
  margin-top: 45%;
  font-size: 1.5rem;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #5C62CB;
}

h1 {
  font-family: 'unica one';
  font-weight: 400;
}

.main-content h3 {
  font-family: 'unica one';
  font-weight: 400;
  font-size: 1.5em;
  background: #fff;
  width: 100%;
  box-shadow: inset -200vw 0px 0px #5c62cb;
  color: #fff;
  transition: 1s;
  padding: 0.25em 1em;
  position: relative;
}

.main-content h3:hover {
  box-shadow: inset -10vw 0px 0px #5c62cb;
  color: #5c62cb;
}

.main-content h4 {    
  font-weight: bold;
  font-size: 2vw;
}

.main-content blockquote {
  color: #595959;
  font-style: italic;
}

a {
  color: #c00;
  box-shadow: inset 0px -2px 0px #c00;
}

a:hover {
  box-shadow: inset 0px -8px 0px rgba(255,255,0,0.5);
  text-decoration: none;
}

.anchorIcon {
  position: absolute;
  margin-left: -1.75em;
  opacity: 1;
  width: 1em;
  transition: opacity 0.5s ease-out;
  top: 0.5em;
  left: 1.75em;
}

audio {
  width: 100%;
}

button {    
  background: #2AB54A;
  display: inline-block;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #23933b;
}

.transcript {
  color: #444;
  display: none;
}

.transcript.on {
  display: block;
}

@media screen and (min-width: 42em) {
  .main-content {
    margin-top: 25%;
  }
  
  .main-content h3 {
    font-size: 2.5em;
  }
  
}
