<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ '/assets/scripts/client.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </head>
  <body>
    <svg viewbox="0 0 200 600" id="bubble-svg">
      <path class="bubble-path yellow-box"
            fill="none"
            stroke="yellow"
            stroke-width="0.5"
            d="
               M 25, 5               
               l 125, -5
               l 0, 25
               l -125, 5
               l 0, -25
               M 0, 35
               l 125, -5
               l 0, 25
               l -125, 5
               l 0, -25
               M 25, 30
               l -25, 30
               M 25, 5
               l -25, 30
               M 150, 0
               l -25, 30
               M 150, 25
               l -25, 30
               "/> 
      
      <path class="bubble-path red-circles"
            fill="none"
            stroke="red"
            stroke-width="0.5"
            d="  M 15, 10
                 c 0, -10
                   15, -10
                   15, 0
                 M 15, 10
                 c 0, 10
                   15, 10
                   15, 0
               
                 M 120, 40
                 c 0, -10
                   15, -10
                   15, 0
                 M 120, 40
                 c 0, 10
                   15, 10
                   15, 0
               
                 M 110, 10
                 c 0, -6.5
                   10, -6.5
                   10, 0
                 M 110, 10
                 c 0, 6.5
                   10, 6.5
                   10, 0
               
                 M 70, 50
                 c 0, -6.5
                   10, -6.5
                   10, 0
                 M 70, 50
                 c 0, 6.5
                   10, 6.5
                   10, 0
               " />
      
      <path class="bubble-path red-circle-lines"
            fill="none"
            stroke="red"
            stroke-width="0.5"
            d="M 29, 14               
               L 70, 48
               M 79, 47               
               L 111, 13
               M 117, 15               
               l 8, 18
               "/>
    </svg>
    <header class="page-header" role="banner">
      <h1 class="project-name">Maker-in-Residence</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
    
    <script src="{{ "/assets/js/script.js" | relative_url }}"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  </body>
</html>
